<div class="top-bar text-white d-flex align-items-center">
    <div class="container-fluid px-4 px-lg-5">
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar fixed-top">
    <div class="container-fluid px-4 px-lg-5">
        
        <a class="navbar-brand" href="#">
            <img src="img/logo-congreso.png" alt="IV Congreso 2026" class="header-logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav align-items-center gap-3">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="congresoDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Congreso</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="congresoDrop">
                        <li><a class="dropdown-item" href="#">Sobre el evento</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="programaDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programa</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="programaDrop">
                        <li><a class="dropdown-item" href="#">Cronograma</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="sedeDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sede</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sedeDrop">
                        <li><a class="dropdown-item" href="#">Ubicación</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold text-white" href="#" id="scDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Santa Cruz</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="scDrop">
                        <li><a class="dropdown-item" href="#">Guía turística</a></li>
                    </ul>
                </li>

                <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                    <a class="btn btn-inscripcion fw-bold px-4 py-2" href="#">Inscripción</a>
                </li>
            </ul>
        </div>
    </div>
</nav>